.graph{
    color: #000000; 
    width: 40%; 
    /* margin-left: 8%;  */
    top: 20% !important;
    font-size: 300%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: 70%;
    margin-top: auto;
    line-height: 110%;
  }


  .pierson{
    position: absolute;
  width: 90%; height: 100% !important;
  max-height: min-content !important;
  margin-top: 3%; 
  margin-left: 5% !important; background-color: #92b8c2;
  background-image: url(../../assets/fit.jpg); background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: 35%;
  background-position: right;
  overflow-x: hidden;
  }

  .searchbox{
      margin-top: 5%;
  }

  .searchResponse{
      width: 60%;
      /* background-color: #ffffff; */
      /* padding: 3%; */
  }

  .created{
      color: #4d4df0 !important;
  }


  .selecter{
    height: 100% !important; width: 15%;
    border-top:none;
    border-right:none;
    border-bottom:none;
    border-color: #e4e3e3;
    padding-left: 5px;
    color: #817f7f;
    
  }

  .selecter-div{
    margin-top: -4% !important; margin-left: 35%;
  }


  .footer{
      position: absolute;
      width: 100%;
      height: 25% !important;
      min-height: max-content !important;
      margin-top: 15%;
      bottom: 0px;
      background-color: #ffffff;
      padding-top: 5%;
      padding-bottom: 5%;
      overflow-x: hidden;
      overflow-y: hidden;
      padding-right: 2%;

  }

  @media screen and (max-width: 700px) {

    .selecter-div{
        margin-top: -10% !important; margin-left: 35%;
      }

      .graph{
        font-size: 150%;
        /* margin-left: 8%;  */
        /* top: 20% !important;} */
      }

      .pierson{

        background-position-y: 20% !important;
        
      background-size: 50% !important;

      }
  }

  @media screen and (max-width: 500px) {

    .selecter-div{
        margin-top: -15% !important; margin-left: 35%;
        margin-bottom: 5%;
      }

      .selecter{
          /* height: 30; */
      }

      .pierson{

        /* background-position-y: 20% !important; */
        
      background-size: 70% !important;

      }

    
  }

  @media screen and (max-width: 300px) {

    .selecter-div{
        margin-top: -17% !important; margin-left: 35%;
        margin-bottom: 5%;
      }

      .creats{
          display: none;
      }
  }