body {
  /* position: relative;
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
    background-image: url('assets/seni.jpeg');
    background-size: 50%;
    background-position: center; */
    /* background: linear-gradient(to right, #000000 20%, #C6C6C6 30%); */
    /* background-position-y: 8px;
    background-repeat: no-repeat;
    margin: auto;*/
    background-color: #000000;
    overflow-x: hidden;

    font: 400 15px/1.8 Lato, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
} */