<div class="container cover">
<p>Home works</p>
<div class="row hair">

<span class="glyphicon glyphicon-icon col-sm-4" aria-hidden="true">i</span>
<span class="glyphicon glyphicon-icon col-sm-4" aria-hidden="true">5</span>
<span class="glyphicon glyphicon-icon col-sm-4" aria-hidden="true">0</span>
</div>


 
<div class="hold">
        <input type="search" name="" id="">
    
</div>    

</div>



<!-- <div class="quote"> -->
    <!-- <p>Footer</p> -->
  <!-- </div> -->

  <div class="down">

    <div class="row foot">
        <span class="col-sm-4"> craiglist</span>
        <span class="col-sm-4"> craiglist</span>
        <span class="col-sm-4"> craiglist</span>
    </div>
  </div>

